# Python Cache
__pycache__/
*.pyc

# Virtual Environments (so you don't push thousands of setup files)
venv/
env/
.env
.venv

# Mac/Windows Junk Files
.DS_Store
Thumbs.db

cache_snakes_easy.json
cache_snakes_normal.json
cache_snakes_hard.json
cache_dropquote_w10.json
cache_dropquote_w15.json
cache_dropquote_w20.json
cache_dropquote_w25.json

static/img/rebus/
words.txt