# Python Cache
__pycache__/
*.pyc

# Virtual Environments (so you don't push thousands of setup files)
venv/
env/
.env
.venv

# Mac/Windows Junk Files
.DS_Store
Thumbs.db

cache_snakes_easy.json
cache_snakes_normal.json
cache_snakes_hard.json

static/img/rebus/